@include sticky-footer(48px, "#root", "#root-footer", "#footer");

.ss-footer{
	background-color: $primary-color;

	p{
		color: white;
		line-height: 48px;
		margin: 0;
		font-weight: 300;
	}
}
@media screen and (max-width: 500px){
	.ss-footer p{
		text-align: center;
	}
} 