{:dev true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000

 :pg-conn {:hostname "horton.elephantsql.com"
           :port 5432 ; default
           :database "dkdjukeh"
           :username "dkdjukeh"
           :password "V2luMVXaEQfNyDafaRYh0K7o_5X7gvVF"
           :pool-size 1
           :classname "com.postgresql.Driver"
           :subprotocol "postgresql"
           :user "dkdjukeh"
           :subname "//horton.elephantsql.com/dkdjukeh"
           }}
