<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Squad Share</title>
    <link rel='' type='image/x-icon' href='/favicon.ico' />

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style "/css/screen.css" %}
    {% style "/css/main.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar ss-navbar" role="navigation">
        <div class="container">
          <a class="navbar-brand navbar-left ss-navbar__brand" href="{{servlet-context}}/">SquadShare</a>
          <h1 class="ss-navbar__title">Share Links with your team</h1>
        </div>
      </nav>

    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
    <div class="container-fluid ss-footer">
      <div class="container">
        <p>&copy; 2016 Powered by SWAT</p>
      </div>
    </div>


    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}
    {% script "/js/floatLabel.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
