{% extends "base.html" %}
{% block content %}
<!-- Apagar -->
<div class="row"> 
  <div class="col-md-12 ss-search">
    <h2 class="ss-search__title">search links</h2>
    <p>sdfsdf</p>
  </div>
</div>
<!-- Apagar -->



<div class="row"> 
<div class="container ss-links-wrapper">
  
  <!--  Add Link -->
  <div class="col-md-3 ss-link-add-module">
    <div class="title-add-link">
        <div class="icon-link-url"></div>
        <h3>Share Url</h3>
    </div>
  </div>  
  
  <!--   Link Module -->
  {% for link in links %} 
  <div class="col-md-3 ss-link-module">
    <a href="{{link.url}}">

      <figure class="ss-link-module__image">
        <img src="http://fillmurray.com/300/300" alt="Phill Murray">
      </figure>
      <div class="ss-link-module__content">
        <h3 class="ss-link-module__title">{{link.title}}</h3>
        <p class="ss-link-module__desc">{{link.description}}</p>  
      </div>
      
      <hr>
    </a>

    <div class="ss-link-module__info">
      <figure class="ss-link-module__picture">
        <img src="http://fillmurray.com/40/40" alt="User Picture">
      </figure>
      <div class="ss-link-module__author">
        <p class="ss-link-module__name">Pedro Nogueira</p>
        <p class="ss-link-module__date">{{link.created_at}} 24 Jan 2016</p>    
      </div>
      <div class="ss-link-module__icons-wrapper">
        <span class="ss-icon-like"></span>
        <span class="ss-icon-fav"></span>
        <span class="ss-icon-comment"></span>
      </div>
    </div>

  </div>
  {% endfor %}
  <!--  End Link Module -->

  


  <!--   Default Link -->
  <div class="col-md-3 ss-link-default"></div>

  {% include "save-link-form.html" %}

</div><!--   End ss-links-wrapper -->
</div><!--   End Row -->

</div>
{% endblock %}
