// Font Roboto
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

html,body{
	font-family: 'Roboto', sans-serif;
	color: $text-color;
}

h1{ font-size: 30px; }
h2{ font-size: 35px; }
h3{ font-size: 20px; }
h4{ font-size: 15px; }
h5{ font-size: 15px; }
p{ font-size: 14px; }