// General Colors //
$primary-color: #a3b7d6;
$primary-color-light: #dae2ef;
$primary-color-dark: #7a89a1;
$purple-color: #a399e8;
$blue-color: #60eef1;
$pink-color:#f4a8ff;
$dark-text-color: #4d4d4d;
$text-color: #666;
$light-text-color: #999;

// Measures //
$small-margin: 12px;
$medium-margin: 24px;
$big-margin: 48px;