@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
/* line 4, ../sass/helpers/_typography.scss */
html, body {
  font-family: 'Roboto', sans-serif;
}

/* line 8, ../sass/helpers/_typography.scss */
h1 {
  font-size: 30px;
}

/* line 9, ../sass/helpers/_typography.scss */
h2 {
  font-size: 35px;
}

/* line 10, ../sass/helpers/_typography.scss */
h3 {
  font-size: 20px;
}

/* line 11, ../sass/helpers/_typography.scss */
h4 {
  font-size: 15px;
}

/* line 12, ../sass/helpers/_typography.scss */
h5 {
  font-size: 15px;
}

/* line 13, ../sass/helpers/_typography.scss */
p {
  font-size: 14px;
}

/* line 5, ../sass/helpers/_links.scss */
a:hover {
  text-decoration: none;
}

/* line 1, ../sass/atoms/_buttons.scss */
.btn {
  position: relative;
  font-size: 25px;
  font-weight: 300;
  border: none;
  cursor: pointer;
  padding: 20px 0;
  display: inline-block;
  float: right;
  width: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  outline: none;
  margin: 0 0 15px 0;
  line-height: 20px;
  text-decoration: none !important;
}
/* line 22, ../sass/atoms/_buttons.scss */
.btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
}
/* line 27, ../sass/atoms/_buttons.scss */
.btn.disabled {
  cursor: wait;
}
/* line 30, ../sass/atoms/_buttons.scss */
.btn.disabled:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  cursor: wait;
  text-decoration: none;
}
/* line 36, ../sass/atoms/_buttons.scss */
.btn.disabled:active {
  cursor: wait;
  text-decoration: none;
  top: 0px;
}

/* line 44, ../sass/atoms/_buttons.scss */
.btn-primary {
  background: #a399e8;
  color: white;
}
/* line 47, ../sass/atoms/_buttons.scss */
.btn-primary:hover {
  background: #7e79b2;
  color: white;
}

/* line 53, ../sass/atoms/_buttons.scss */
.btn-secondary {
  background: #a3b7d6;
  color: #7a89a1;
}
/* line 56, ../sass/atoms/_buttons.scss */
.btn-secondary:hover {
  background: #7a89a1;
  color: white;
}

/* line 2, ../sass/modules/_navbar.scss */
.ss-navbar {
  padding: 48px 0;
}

/* line 5, ../sass/modules/_navbar.scss */
.ss-navbar__brand {
  color: #a3b7d6;
  font-size: 35px;
  font-weight: 700;
  padding: 0;
}
/* line 11, ../sass/modules/_navbar.scss */
.ss-navbar__brand:hover {
  color: #a3b7d6;
  opacity: 0.7;
}

/* line 16, ../sass/modules/_navbar.scss */
.ss-navbar__title {
  color: #a3b7d6;
  font-size: 20px;
  font-weight: 300;
  padding: 0;
  display: inline-block;
  line-height: 48px;
  float: right;
}

/* line 2, ../sass/modules/_search.scss */
.ss-search {
  padding-left: 0;
  padding-right: 0;
}

/* line 6, ../sass/modules/_search.scss */
.ss-search__title {
  text-align: center;
  margin-bottom: 24px;
}

/* line 1, ../sass/modules/_floatLabels.scss */
.form-control {
  color: #7a89a1;
  font-weight: 300;
}
/* line 4, ../sass/modules/_floatLabels.scss */
.form-control:focus {
  border-color: #a399e8;
}

/* line 9, ../sass/modules/_floatLabels.scss */
.float-label-control {
  position: relative;
  margin-bottom: 1.5em;
}

/* line 10, ../sass/modules/_floatLabels.scss */
.float-label-control ::-webkit-input-placeholder {
  color: transparent;
}

/* line 11, ../sass/modules/_floatLabels.scss */
.float-label-control :-moz-placeholder {
  color: transparent;
}

/* line 12, ../sass/modules/_floatLabels.scss */
.float-label-control ::-moz-placeholder {
  color: transparent;
}

/* line 13, ../sass/modules/_floatLabels.scss */
.float-label-control :-ms-input-placeholder {
  color: transparent;
}

/* line 15, ../sass/modules/_floatLabels.scss */
.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -moz-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
}

/* line 16, ../sass/modules/_floatLabels.scss */
.float-label-control input, .float-label-control textarea, .float-label-control label {
  font-size: 20px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 18, ../sass/modules/_floatLabels.scss */
.float-label-control input:focus,
.float-label-control textarea:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom-width: 2px;
  padding-bottom: 5;
}

/* line 19, ../sass/modules/_floatLabels.scss */
.float-label-control textarea:focus {
  padding-bottom: 5px;
}

/* line 20, ../sass/modules/_floatLabels.scss */
.float-label-control input, .float-label-control textarea {
  display: block;
  width: 100%;
  padding: 7px 0px 7px 0px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #7a89a1;
  outline: none;
  margin: 0px;
  background: none;
}

/* line 21, ../sass/modules/_floatLabels.scss */
.float-label-control textarea {
  padding: 7px 0px 7px 0px;
}

/* line 22, ../sass/modules/_floatLabels.scss */
.float-label-control label {
  position: absolute;
  font-weight: 300;
  top: -1em;
  left: 0.08em;
  color: #7a89a1;
  z-index: -1;
  font-size: 0.85em;
  -moz-animation: float-labels 300ms none ease-out;
  -webkit-animation: float-labels 300ms none ease-out;
  -o-animation: float-labels 300ms none ease-out;
  -ms-animation: float-labels 300ms none ease-out;
  -khtml-animation: float-labels 300ms none ease-out;
  animation: float-labels 300ms none ease-out;
  /* There is a bug sometimes pausing the animation. This avoids that.*/
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important;
}

/* line 24, ../sass/modules/_floatLabels.scss */
.float-label-control input.empty + label,
.float-label-control textarea.empty + label {
  top: 0.1em;
  font-size: 20px;
  animation: none;
  -webkit-animation: none;
}

/* line 26, ../sass/modules/_floatLabels.scss */
.float-label-control input:not(.empty) + label,
.float-label-control textarea:not(.empty) + label {
  z-index: 1;
}

/* line 28, ../sass/modules/_floatLabels.scss */
.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label {
  color: #7a89a1;
}

/* line 29, ../sass/modules/_floatLabels.scss */
.float-label-control.label-bottom label {
  -moz-animation: float-labels-bottom 300ms none ease-out;
  -webkit-animation: float-labels-bottom 300ms none ease-out;
  -o-animation: float-labels-bottom 300ms none ease-out;
  -ms-animation: float-labels-bottom 300ms none ease-out;
  -khtml-animation: float-labels-bottom 300ms none ease-out;
  animation: float-labels-bottom 300ms none ease-out;
}

/* line 31, ../sass/modules/_floatLabels.scss */
.float-label-control.label-bottom input:not(.empty) + label,
.float-label-control.label-bottom textarea:not(.empty) + label {
  top: 3em;
}

@keyframes float-labels {
  /* line 35, ../sass/modules/_floatLabels.scss */
  0% {
    opacity: 1;
    color: #7a89a1;
    top: 0.1em;
    font-size: 1.5em;
  }

  /* line 36, ../sass/modules/_floatLabels.scss */
  20% {
    font-size: 1.5em;
    opacity: 0;
  }

  /* line 37, ../sass/modules/_floatLabels.scss */
  30% {
    top: 0.1em;
  }

  /* line 38, ../sass/modules/_floatLabels.scss */
  50% {
    opacity: 0;
    font-size: 0.85em;
  }

  /* line 39, ../sass/modules/_floatLabels.scss */
  100% {
    top: -1em;
    opacity: 1;
  }
}

@-webkit-keyframes float-labels {
  /* line 43, ../sass/modules/_floatLabels.scss */
  0% {
    opacity: 1;
    color: #7a89a1;
    top: 0.1em;
    font-size: 1.5em;
  }

  /* line 44, ../sass/modules/_floatLabels.scss */
  20% {
    font-size: 1.5em;
    opacity: 0;
  }

  /* line 45, ../sass/modules/_floatLabels.scss */
  30% {
    top: 0.1em;
  }

  /* line 46, ../sass/modules/_floatLabels.scss */
  50% {
    opacity: 0;
    font-size: 0.85em;
  }

  /* line 47, ../sass/modules/_floatLabels.scss */
  100% {
    top: -1em;
    opacity: 1;
  }
}

@keyframes float-labels-bottom {
  /* line 51, ../sass/modules/_floatLabels.scss */
  0% {
    opacity: 1;
    color: #7a89a1;
    top: 0.1em;
    font-size: 1.5em;
  }

  /* line 52, ../sass/modules/_floatLabels.scss */
  20% {
    font-size: 1.5em;
    opacity: 0;
  }

  /* line 53, ../sass/modules/_floatLabels.scss */
  30% {
    top: 0.1em;
  }

  /* line 54, ../sass/modules/_floatLabels.scss */
  50% {
    opacity: 0;
    font-size: 0.85em;
  }

  /* line 55, ../sass/modules/_floatLabels.scss */
  100% {
    top: 3em;
    opacity: 1;
  }
}

@-webkit-keyframes float-labels-bottom {
  /* line 59, ../sass/modules/_floatLabels.scss */
  0% {
    opacity: 1;
    color: #7a89a1;
    top: 0.1em;
    font-size: 1.5em;
  }

  /* line 60, ../sass/modules/_floatLabels.scss */
  20% {
    font-size: 1.5em;
    opacity: 0;
  }

  /* line 61, ../sass/modules/_floatLabels.scss */
  30% {
    top: 0.1em;
  }

  /* line 62, ../sass/modules/_floatLabels.scss */
  50% {
    opacity: 0;
    font-size: 0.85em;
  }

  /* line 63, ../sass/modules/_floatLabels.scss */
  100% {
    top: 3em;
    opacity: 1;
  }
}

/* line 2, ../sass/modules/_link-module.scss */
.ss-link-module {
  margin-bottom: 48px;
}
/* line 5, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__image {
  border-top: 6px solid #a3b7d6;
  width: 100%;
  height: 144px;
  overflow: hidden;
  margin-bottom: 12px;
}
/* line 12, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__image img {
  width: 100%;
}
/* line 17, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__title {
  font-weight: 500;
  margin-bottom: 12px;
}
/* line 22, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__desc {
  font-weight: 500;
  margin-bottom: 12px;
  color: #999999;
}
/* line 28, ../sass/modules/_link-module.scss */
.ss-link-module hr {
  margin: 0 0 12px 0;
  border-top: 1px solid #f2f2f2;
}
/* line 37, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__info {
  max-width: 54%;
  display: initial;
}
/* line 43, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__picture {
  margin: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  display: inline-block;
  margin-right: 6px;
}
/* line 53, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__picture img {
  width: 100%;
}
/* line 58, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__author {
  display: inline-block;
}
/* line 61, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__author .ss-link-module__name {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: -6px;
}
/* line 68, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__author .ss-link-module__date {
  display: inline-block;
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 0;
}
/* line 76, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__icons-wrapper {
  float: right;
  margin-top: 8px;
}
/* line 80, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__icons-wrapper span {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 12px;
}
/* line 87, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__icons-wrapper .ss-icon-like {
  background-image: url("");
  background-color: blue;
}
/* line 94, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__icons-wrapper .ss-icon-fav {
  background-image: url("");
  background-color: green;
}
/* line 101, ../sass/modules/_link-module.scss */
.ss-link-module .ss-link-module__icons-wrapper .ss-icon-comment {
  background-image: url("");
  background-color: pink;
}

/* line 2, ../sass/pages/_links-page.scss */
.ss-links-wrapper {
  padding: 0;
}

/* line 1, ../sass/vendors/_overrides.scss */
.no-padding {
  padding: 0;
}

/* line 5, ../sass/vendors/_overrides.scss */
.no-padding-right {
  padding-right: 0;
}

/* line 9, ../sass/vendors/_overrides.scss */
.no-padding-left {
  padding-left: 0;
}

/* line 14, ../sass/vendors/_overrides.scss */
.title-add-link .icon-link-url {
  background: url("../images/icon_addurl.svg") no-repeat center center;
  width: 100%;
  height: 95px;
}
/* line 19, ../sass/vendors/_overrides.scss */
.title-add-link h3 {
  text-align: center;
  width: 100%;
  color: #a3b7d6;
  font-weight: 300;
  margin: 24px 0;
}

/* line 28, ../sass/vendors/_overrides.scss */
.form-all {
  margin-bottom: 24px;
}
